body{
    font-family: 'roboto', sans-serif;
}

h1{
    margin: 10px;
    font: 10px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

div#NumeroPrimo{
    width: auto;
    justify-content: center;
}

div#MostrarConteudo{
    width: 50%;
    display: none;
    justify-items: center;
}

div#MostrarConteudoSomatorio{
    width: 50%;
    display: none;
}

div#MostrarConteudoFibonacci{
    width: 50%;
    display: none;
}

div#MostrarConteudoMDC{
    display: none;
}

div#MostrarConteudoQuickshort{
    display: none;
}

div#MostrarConteudoContagem{
    display: none;
}